.tableButton {
  font-family: Roboto;
  background-color: white;
  border: solid 1px;
  border-radius: 3px;
  width: 70px;
  height: 30px;
}

.tableButton:disabled {
  color: rgb(104, 104, 104);
  border: none;
  background-color: rgb(226, 226, 226);
}
.tableButtonText {
  font-size: 14px;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.tableHeaderPart {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.tableHeaderLittlePart {
  width: 60%;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr {
  height: 55px;
}
.table th {
  height: 10px;
}

.table th:hover {
  cursor: pointer;
}

.table tr:nth-child(2n) {
  background-color: #f2f2f2;
}
.table tr:nth-child(2n + 1) {
  background-color: #f2f2f283;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
}

.columnHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.caret {
  width: 15px;
}
.caretDown {
  rotate: 180deg;
}
