.errorMessage {
  padding-bottom: 5px;
  margin-top: 5px;
  height: 25px;
  color: red;
  font-size: 12px;
  width: 250px;
}

.label {
  color: white;
}
.inputDateAndTime {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputDateOrTime {
  width: 250px;
  height: 20px;
  font-family: Roboto;
  padding: 5px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 3px;
}
