.selectInput {
  display: flex;
  flex-direction: column;
}

.label {
  color: rgb(0, 0, 0);
}

select {
  width: 250px;
  height: 32px;
  background-color: white;
  font-family: Roboto;
  padding: 5px;
  font-size: 18px;
  outline: none;
  border-radius: 3px;
  border: solid 1px;
}
option {
  font-family: 'Roboto';
  background-color: white;
}
